# 1. Dependencies
node_modules/
**/node_modules/

# 2. Security & Environment
.env
.env.local
**/.env
**/.env.local
.env.example

# 3. Editor Directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 4. Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 5. Production / Build Folders
dist/
dist-ssr/
build/
out/

# 6. System Files
.DS_Store
Thumbs.db